.container {
  position: relative; /* para posicionar o badge dentro */
  display: inline-block;
  border-radius: 8px;
  padding: 8px;
  width: fit-content;
}

.icone {
  font-size: 40px;
  color: #007bff;
}

.valor {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(30%, 30%);
  border-radius: 50%;
  border: 1px solid black;
  font-size: 14px;
  font-weight: bold;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}